In [2]:
import csv
import pandas as pd
import numpy as np

In [3]:
business_fields = ['attributes_Price Range','name','business_id', 
                   'categories', 'stars']
business_file ='yelp_academic_dataset_business.csv'

In [4]:
business_dataframe = pd.read_csv(business_file, low_memory=False, usecols= business_fields)

In [5]:
business_dataframe.head()

,attributes_Price Range,business_id,categories,name,stars
0,1,5UmKMjUEUNdYWqANhGckJw,"Fast Food,Restaurants",Mr Hoagie,3.5
1,1,UsFtqoBl7naz8AVUBZMjQQ,Nightlife,Clancy's Pub,3.0
2,NaN,cE27W9VPgO88Qxe4ol6y_g,"Active Life,Mini Golf,Golf",Cool Springs Golf Center,2.5
3,2,mVHrayjG3uZ_RLHkLj-AMg,"Bars,American (New),Nightlife,Lounges,Restaurants",Emil's Lounge,4.5
4,NaN,mYSpR_SLPgUVymYOvTQd_Q,"Active Life,Golf",Grand View Golf Club,5.0

In [6]:
categories_list = business_dataframe['categories'].tolist()
broad_categories = []
for i in business_dataframe.index:
    category = str(categories_list[i])
    if 'Restaurants' in category or 'Food' in category:
        new_category = 'Eateries'
    elif 'Shopping' in category or  'Hotel' in category or 'Nightlife' in category or 'Entertainment' in category:
        new_category = 'Lifestyle & Entertainment'
    elif 'Medical' in category or 'Active' in category or 'Fitness' in category or 'Beauty' in category:
        new_category = 'Health & Beauty'
    elif 'Auto' in category:
        new_category = 'Auto'
    else:
        new_category = 'Others'
    broad_categories.append(new_category)
business_dataframe['broad_categories'] = broad_categories

In [7]:
business_dataframe['sentiment'] = np.random.rand(business_dataframe.shape[0])
business_dataframe.head()

,attributes_Price Range,business_id,categories,name,stars,broad_categories,sentiment
0,1,5UmKMjUEUNdYWqANhGckJw,"Fast Food,Restaurants",Mr Hoagie,3.5,Eateries,0.302035
1,1,UsFtqoBl7naz8AVUBZMjQQ,Nightlife,Clancy's Pub,3.0,Lifestyle & Entertainment,0.243788
2,NaN,cE27W9VPgO88Qxe4ol6y_g,"Active Life,Mini Golf,Golf",Cool Springs Golf Center,2.5,Health & Beauty,0.680939
3,2,mVHrayjG3uZ_RLHkLj-AMg,"Bars,American (New),Nightlife,Lounges,Restaurants",Emil's Lounge,4.5,Eateries,0.203395
4,NaN,mYSpR_SLPgUVymYOvTQd_Q,"Active Life,Golf",Grand View Golf Club,5.0,Health & Beauty,0.946857

In [8]:
def rand_jitter(arr):
    stdev = .01*(max(arr)-min(arr))
    return arr + np.random.randn(len(arr)) * stdev

In [12]:
business_dataframe['stars'] = rand_jitter(business_dataframe['stars'])

In [1]:
business_dataframe.head()

NameError: name 'business_dataframe' is not defined

In [15]:
business_dataframe.to_csv("temp_business.csv")

In [10]:
business_file ='yelp_academic_dataset_business.csv'
tips_file ='yelp_academic_dataset_tip.csv'
#

tips_dataframe = pd.read_csv(tips_file, low_memory= False)

In [17]:
tips_dataframe.head()

,business_id,text,user_id
0,5UmKMjUEUNdYWqANhGckJw,Pizza is garbage. Hoagies are excellent.,ZxdojCZgZhw36xuSGaryRg
1,cE27W9VPgO88Qxe4ol6y_g,Don't waste your time.,-6rEfobYjMxpUWLNxszaxQ
2,mVHrayjG3uZ_RLHkLj-AMg,Not easy to find. Be sure to put in directions...,5OumCBQ_MyQsltSdbMyunA
3,mVHrayjG3uZ_RLHkLj-AMg,Your GPS will not allow you to find this place...,EZ0r9dKKtEGVx2CdnowPCw
4,KayYbHCt-RkbGcPdGOThNg,Great drink specials!,xb6zEQCw9I-Gl0g06e1KsQ

In [16]:
del tips_dataframe['date']

In [3]:
#year = []
#month = []
#for i in tips_dataframe.index:
#    y, m, d =tip_dates[i].split('-')
#    year.append(y)
#    month.append(m)

In [36]:
review_fields = ['business_id', 'user_id','stars','date']
reviews_file = 'yelp_academic_dataset_review.csv'
reviews_dataframe = pd.read_csv(reviews_file, skipinitialspace = True, usecols = review_fields)

In [37]:
reviews_dataframe.head()

              business_id        date  stars                 user_id
0  5UmKMjUEUNdYWqANhGckJw  2012-08-01      4  PUFPaY9KxDAcGqfsorJp3Q
1  5UmKMjUEUNdYWqANhGckJw  2014-02-13      5  Iu6AxdBYGR4A0wspR9BYHA
2  5UmKMjUEUNdYWqANhGckJw  2015-10-31      5  auESFwWvW42h6alXgFxAXQ
3  5UmKMjUEUNdYWqANhGckJw  2015-12-26      3  qiczib2fO_1VBG8IoCGvVg
4  5UmKMjUEUNdYWqANhGckJw  2016-04-08      2  qEE5EvV-f-s7yHC0Z4ydJQ

In [38]:
reviews_dataframe = reviews_dataframe[reviews_dataframe.date.str.contains('20')]

In [39]:
reviews_dataframe.index

Int64Index([      0,       1,       2,       3,       4,       5,       6,
                  7,       8,       9,
            ...
            2685057, 2685058, 2685059, 2685060, 2685061, 2685062, 2685063,
            2685064, 2685065, 2685066],
           dtype='int64', length=2685066)

In [34]:
#review_dates = reviews_dataframe['date'].tolist()
#r_year = []
#r_month = []
#for i in reviews_dataframe['date'].index:
#    y, m,d = reviews_dataframe['date'][i].split('-')
#    r_year.append(y)
#    r_month.append(m)

In [35]:
#reviews_dataframe['year'] = r_year

In [36]:
#reviews_dataframe['month'] = r_month

In [37]:
#reviews_dataframe.head()

,business_id,date,stars,user_id,year,month
0,5UmKMjUEUNdYWqANhGckJw,2012-08-01,4,PUFPaY9KxDAcGqfsorJp3Q,2012,08
1,5UmKMjUEUNdYWqANhGckJw,2014-02-13,5,Iu6AxdBYGR4A0wspR9BYHA,2014,02
2,5UmKMjUEUNdYWqANhGckJw,2015-10-31,5,auESFwWvW42h6alXgFxAXQ,2015,10
3,5UmKMjUEUNdYWqANhGckJw,2015-12-26,3,qiczib2fO_1VBG8IoCGvVg,2015,12
4,5UmKMjUEUNdYWqANhGckJw,2016-04-08,2,qEE5EvV-f-s7yHC0Z4ydJQ,2016,04

In [41]:
ratings_grouped = pd.DataFrame(reviews_dataframe.groupby(['business_id'])['stars'].mean().fillna(0))

In [42]:
ratings_grouped.head()

                           stars
business_id
--0ZoBTQWQra1FxD4rBWmg  2.000000
--1emggGHgoG6ipd_RMb-g  3.333333
--4Pe8BZ6gj57VFL5mUE8g  2.750000
--5jkZ3-nUPZxUvtcbr8Uw  4.580357
--7PRjnsjMA6uhPK8mW13Q  2.666667

In [18]:
tips_grouped = pd.DataFrame(tips_dataframe.
                               groupby(['business_id'])
                               ['user_id'].apply(list))

In [40]:
reviews_grouped = pd.DataFrame(reviews_dataframe.groupby(['business_id'])['user_id'].apply(list))

In [51]:
ratings_grouped = ratings_grouped.reset_index()
reviews_grouped = reviews_grouped.reset_index()

In [19]:
tips_grouped.head(n=20)

                                                                  user_id
business_id
--0ZoBTQWQra1FxD4rBWmg   [tTQwXGXwGrcEnrJ4gziGAg, 3qWT-hhx44Yl48UcX7fdQQ]
--1emggGHgoG6ipd_RMb-g  [6DuBPBgCN6YMowFwrp_P5g, jt4zoa6tk5q-4mWtuKHEP...
--4Pe8BZ6gj57VFL5mUE8g   [epN0_Z-MWmx1DxO0FC7k9w, 3I0Ks0eAf3QjD3EvP2qFGw]
--5jkZ3-nUPZxUvtcbr8Uw  [rAfN_eXc7PvtISk2ZIZfGQ, ByOxnioKRball6-8UXn04...
--BlvDO_RG2yElKu9XA1_g  [J4G0JoXgs6m1OVJCzD-DPA, 0g8cmPNYOqbON3O0pUAVs...
--Dl2rW_xO8GuYBomlg9zw                           [hjnt6pPjRlCNkdAyzzYeug]
--NCcmQqh_NZbjW1S5XsGQ                           [aEtjF8__fXI268NXqQi9FQ]
--UE_y6auTgq3FXlvUMkbw  [sPQ10u9ZsrCVCKhQylFxgQ, dapbOj1WwSchUr-7V63IB...
--XBxRlD92RaV6TyUnP8Ow   [fUZdUf7Wiqaq5stzyJ_MoA, 6W36O1ODafEaopqu-QaCnA]
--Y_2lDOtVDioX5bwF6GIw  [A5Jiz_xJHYurjsMDkYg-UQ, AEIKxjduqqu545E3T2lHo...
--jFTZmywe7StuZ2hEjxyA  [VkTuaLUtRDIioAeicDGang, DDvHjP7wh5bqmIfqjcdwW...
--nQiUBxtpjd_ZBuO_PH6w                           [vrO6kWEUo_8yZKADpeTwJQ]
--pOlFxITWnhzc7SHSIP0A  [em05knJOsREZWIBfg7VEXw, uXrFp0SYJ2UOKWsWygdJh...
--qeSYxyn62mMjWvznNTdg  [nP_vZUqkoajeBC4qTV0Mlg, iFubWiJwygw-UJ1Oaqrsi...
--sSW-WY3vyASh_eVPGUAw  [FHivzCNfilHdmdTtB7ugpw, Kzm-yi1UpoieuBQIXhxMq...
--ytaF8wLE4-RsW8Cqx9CQ                           [77fpXzM0vVXgyXPh5nk89Q]
-024YEtnIsPQCrMSHCKLQw                           [sfZpUCrV7ISjn0TnOgiVLA]
-0Ackw6MF82PXO9f9Jh_Kg  [cQ8rJLIuWBFo4_lCd-nCGQ, 6-81F-OstLPatYVlIePlM...
-0D_CYhlD2ILkmLR0pBmnA   [29qRAO5Edn0YtuizLWZR4g, p8wp_2ecg7-Ns1uf-q6npg]
-0GkcDiIgVm0XzDZC8RFOg  [e5PcVqoEXa73JhLqFyQx1g, PRtNCXgVvVRHaFMZPynwE...

In [52]:
ratings_grouped.reset_index()
merged_tips_business.reset_index()

merged_tips_business.head()

,business_id,tips_count,attributes_Price Range,categories,name,stars,broad_categories,sentiment
0,--0ZoBTQWQra1FxD4rBWmg,2,NaN,"Property Management,Home Services,Real Estate",Bourquin Residential Group,2.0,Others,0.708948
1,--1emggGHgoG6ipd_RMb-g,7,1,"Food,Convenience Stores",Sinclair,4.0,Eateries,0.608455
2,--4Pe8BZ6gj57VFL5mUE8g,2,3,"Shopping,Office Equipment",Office Max,3.0,Lifestyle & Entertainment,0.417364
3,--5jkZ3-nUPZxUvtcbr8Uw,27,1,"Greek,Vegetarian,Mediterranean,Restaurants",Mika's Greek,4.5,Eateries,0.100124
4,--BlvDO_RG2yElKu9XA1_g,23,1,"Sushi Bars,Hawaiian,Chinese,Restaurants",Asian Island,4.0,Eateries,0.775835

In [20]:
tips_count = []
for i in tips_grouped.index:
    tips_count.append(len(tips_grouped['user_id'][i]))

In [21]:
tips_grouped['tips_count']=tips_count

In [59]:
review_count = []
for i in reviews_grouped.index:
    review_count.append(len(reviews_grouped['user_id'][i]))
reviews_merged['review_count'] = review_count

In [55]:

tips_grouped.head()

              business_id  tips_count
0  --0ZoBTQWQra1FxD4rBWmg           2
1  --1emggGHgoG6ipd_RMb-g           7
2  --4Pe8BZ6gj57VFL5mUE8g           2
3  --5jkZ3-nUPZxUvtcbr8Uw          27
4  --BlvDO_RG2yElKu9XA1_g          23

In [68]:
ratings_grouped=ratings_grouped.reset_index()

In [69]:
ratings_grouped.head()

              business_id     stars
0  --0ZoBTQWQra1FxD4rBWmg  2.000000
1  --1emggGHgoG6ipd_RMb-g  3.333333
2  --4Pe8BZ6gj57VFL5mUE8g  2.750000
3  --5jkZ3-nUPZxUvtcbr8Uw  4.580357
4  --7PRjnsjMA6uhPK8mW13Q  2.666667

In [70]:
#merging the tips and reviews

merged = pd.merge(ratings_grouped,merged_tips_business, how = 'inner',
                               on = ['business_id'],
                               right_index = True, left_index = False)

In [73]:
merged.head()

,business_id,stars_x,tips_count,attributes_Price Range,name,stars_y,broad_categories,sentiment
0,--0ZoBTQWQra1FxD4rBWmg,2.000000,2,NaN,Bourquin Residential Group,2.0,Others,0.708948
1,--1emggGHgoG6ipd_RMb-g,3.333333,7,1,Sinclair,4.0,Eateries,0.608455
2,--4Pe8BZ6gj57VFL5mUE8g,2.750000,2,3,Office Max,3.0,Lifestyle & Entertainment,0.417364
3,--5jkZ3-nUPZxUvtcbr8Uw,4.580357,27,1,Mika's Greek,4.5,Eateries,0.100124
6,--BlvDO_RG2yElKu9XA1_g,3.796610,23,1,Asian Island,4.0,Eateries,0.775835

In [114]:
merged_tips_reviews['review_count'].fillna(0, inplace=True)
merged_tips_reviews['tips_count'].fillna(0, inplace=True)
merged_tips_reviews['stars'].fillna(0, inplace=True)
merged_tips_reviews.rename(columns = {'stars':'user_stars','review_count':'count_reviews','tips_count':'count_tips'})

,business_id,year,month,user_id,count_tips,user_stars,count_reviews
0,--0ZoBTQWQra1FxD4rBWmg,2014,03,[3qWT-hhx44Yl48UcX7fdQQ],1,0.000000,0
1,--0ZoBTQWQra1FxD4rBWmg,2015,10,[tTQwXGXwGrcEnrJ4gziGAg],1,1.000000,1
2,--1emggGHgoG6ipd_RMb-g,2013,06,[5hBsVMJOc8sXMPt8S3NjmA],1,5.000000,1
3,--1emggGHgoG6ipd_RMb-g,2013,09,[6DuBPBgCN6YMowFwrp_P5g],1,0.000000,0
4,--1emggGHgoG6ipd_RMb-g,2014,02,[jt4zoa6tk5q-4mWtuKHEPg],1,0.000000,0
5,--1emggGHgoG6ipd_RMb-g,2014,04,[jlEAr91TDq1cdeE7P_MPnQ],1,0.000000,0
6,--1emggGHgoG6ipd_RMb-g,2014,06,[iHbJlgmSTdZro6j8od1Phw],1,4.000000,1
7,--1emggGHgoG6ipd_RMb-g,2014,07,[jt4zoa6tk5q-4mWtuKHEPg],1,0.000000,0
8,--1emggGHgoG6ipd_RMb-g,2014,10,[jt4zoa6tk5q-4mWtuKHEPg],1,0.000000,0
9,--4Pe8BZ6gj57VFL5mUE8g,2014,07,[epN0_Z-MWmx1DxO0FC7k9w],1,5.000000,1
10,--4Pe8BZ6gj57VFL5mUE8g,2016,06,[3I0Ks0eAf3QjD3EvP2qFGw],1,2.000000,1
11,--5jkZ3-nUPZxUvtcbr8Uw,2011,09,"[rAfN_eXc7PvtISk2ZIZfGQ, X1C6Ufo9Y0OxoxORBYPOLA]",2,0.000000,0
12,--5jkZ3-nUPZxUvtcbr8Uw,2011,11,[ByOxnioKRball6-8UXn04w],1,0.000000,0
13,--5jkZ3-nUPZxUvtcbr8Uw,2011,12,[ehhIzy0QaQ9B-V4VVMgYmQ],1,5.000000,1
14,--5jkZ3-nUPZxUvtcbr8Uw,2012,01,[a8gpBi7biN9VAoJwKgl3Xw],1,0.000000,0
15,--5jkZ3-nUPZxUvtcbr8Uw,2012,03,[nE5cyRKybI4-2iMQedWdAQ],1,0.000000,0
16,--5jkZ3-nUPZxUvtcbr8Uw,2012,04,[ke-6ePNfYkNPfICmvlc6GA],1,0.000000,0
17,--5jkZ3-nUPZxUvtcbr8Uw,2012,09,[TuLjkOVG7jBPADZ3nIg5vw],1,0.000000,0
18,--5jkZ3-nUPZxUvtcbr8Uw,2012,10,[TuLjkOVG7jBPADZ3nIg5vw],1,0.000000,0
19,--5jkZ3-nUPZxUvtcbr8Uw,2013,02,[oZuNME_exUMSjrcg6uRFjw],1,5.000000,1
20,--5jkZ3-nUPZxUvtcbr8Uw,2013,06,[wFDP8aO0ba06wooS8rqcVw],1,5.000000,1
21,--5jkZ3-nUPZxUvtcbr8Uw,2013,08,[dCaWSJCE4Cb52VisCSM7XA],1,0.000000,0
22,--5jkZ3-nUPZxUvtcbr8Uw,2013,09,[QAtL9roCZeqQlLDB-Ara7g],1,4.000000,1
23,--5jkZ3-nUPZxUvtcbr8Uw,2013,10,[xGMHBVBsnJEdfVoTxjFL0Q],1,4.000000,1
24,--5jkZ3-nUPZxUvtcbr8Uw,2014,04,"[P1fXuGmbdTz_jfEZLbWYcA, kp-PUDzJmf1VS0Ln-2McVw]",2,4.600000,5
25,--5jkZ3-nUPZxUvtcbr8Uw,2014,06,[X1C6Ufo9Y0OxoxORBYPOLA],1,4.500000,2
26,--5jkZ3-nUPZxUvtcbr8Uw,2014,08,[qEYEXc8IW2RsGYRBhGklsg],1,0.000000,0
27,--5jkZ3-nUPZxUvtcbr8Uw,2014,10,[st4oBMn8HNfioAY6OK8T7g],1,4.500000,2
28,--5jkZ3-nUPZxUvtcbr8Uw,2015,01,[KrcQfk94lbXJOhMXvRffjg],1,4.500000,2
29,--5jkZ3-nUPZxUvtcbr8Uw,2015,04,[T9j8h-0W0aJeZZzd7vuDYg],1,4.333333,3
...,...,...,...,...,...,...,...
390513,zzrm5HEoYKEsfdi8XxSXuQ,2015,11,NaN,0,3.000000,1
390513,zzrm5HEoYKEsfdi8XxSXuQ,2015,12,NaN,0,1.000000,1
390513,zzrm5HEoYKEsfdi8XxSXuQ,2016,06,NaN,0,1.000000,1
390513,zztd3r04hvMTZh3ol7VC4g,2012,02,NaN,0,4.000000,1
390513,zztd3r04hvMTZh3ol7VC4g,2012,03,NaN,0,3.000000,1
390513,zztd3r04hvMTZh3ol7VC4g,2012,11,NaN,0,5.000000,1
390513,zztd3r04hvMTZh3ol7VC4g,2013,01,NaN,0,4.000000,1
390513,zztd3r04hvMTZh3ol7VC4g,2013,11,NaN,0,1.000000,1
390513,zztd3r04hvMTZh3ol7VC4g,2014,10,NaN,0,4.000000,1
390513,zztd3r04hvMTZh3ol7VC4g,2015,05,NaN,0,5.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2008,11,NaN,0,5.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2008,12,NaN,0,2.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2009,12,NaN,0,4.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2010,02,NaN,0,2.500000,2
390513,zzucnDH33KlmbkI4rLyQTA,2010,03,NaN,0,2.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2011,02,NaN,0,4.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2011,03,NaN,0,4.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2011,05,NaN,0,5.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2011,08,NaN,0,5.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2012,01,NaN,0,5.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2013,01,NaN,0,4.500000,2
390513,zzucnDH33KlmbkI4rLyQTA,2014,12,NaN,0,5.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2015,01,NaN,0,1.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2015,03,NaN,0,1.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2015,04,NaN,0,1.666667,3
390513,zzucnDH33KlmbkI4rLyQTA,2015,10,NaN,0,5.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2015,12,NaN,0,4.000000,4
390513,zzucnDH33KlmbkI4rLyQTA,2016,01,NaN,0,4.800000,5
390513,zzxb0YNkRvH1UgifuR3BvQ,2013,11,NaN,0,5.000000,1
390513,zzxb0YNkRvH1UgifuR3BvQ,2014,07,NaN,0,5.000000,1

In [77]:
merged = merged.rename(columns={'attributes_Price Range':'Price_Range'})

In [78]:
merged.head()

,business_id,stars_x,tips_count,Price_Range,name,stars_y,broad_categories,sentiment
0,--0ZoBTQWQra1FxD4rBWmg,2.000000,2,NaN,Bourquin Residential Group,2.0,Others,0.708948
1,--1emggGHgoG6ipd_RMb-g,3.333333,7,1,Sinclair,4.0,Eateries,0.608455
2,--4Pe8BZ6gj57VFL5mUE8g,2.750000,2,3,Office Max,3.0,Lifestyle & Entertainment,0.417364
3,--5jkZ3-nUPZxUvtcbr8Uw,4.580357,27,1,Mika's Greek,4.5,Eateries,0.100124
6,--BlvDO_RG2yElKu9XA1_g,3.796610,23,1,Asian Island,4.0,Eateries,0.775835

In [118]:
categories_list = business_tips_reviews['categories'].tolist()
broad_categories = []
for i in business_tips_reviews.index:
    category = str(categories_list[i])
    if 'Restaurants' in category or 'Food' in category:
        new_category = 'Eateries'
    elif 'Shopping' in category or  'Hotel' in category or 'Nightlife' in category or 'Entertainment' in category:
        new_category = 'Lifestyle & Entertainment'
    elif 'Medical' in category or 'Active' in category or 'Fitness' in category or 'Beauty' in category:
        new_category = 'Health & Beauty'
    elif 'Auto' in category:
        new_category = 'Auto'
    else:
        new_category = 'Others'
    broad_categories.append(new_category)
business_tips_reviews['broad_categories'] = broad_categories

In [81]:
senti = pd.read_csv('business_sentiment.csv')

In [83]:
final = pd.merge(senti,merged, on ='business_id', how='inner')

In [86]:
final.head(n=20)

,business_id,average_sentiment,stars_x,tips_count,Price_Range,name,stars_y,broad_categories
0,--0ZoBTQWQra1FxD4rBWmg,0.128681,2.000000,2,NaN,Bourquin Residential Group,2.0,Others
1,--1emggGHgoG6ipd_RMb-g,0.076549,3.333333,7,1,Sinclair,4.0,Eateries
2,--4Pe8BZ6gj57VFL5mUE8g,0.006331,2.750000,2,3,Office Max,3.0,Lifestyle & Entertainment
3,--5jkZ3-nUPZxUvtcbr8Uw,0.174313,4.580357,27,1,Mika's Greek,4.5,Eateries
4,--BlvDO_RG2yElKu9XA1_g,0.191762,3.796610,23,1,Asian Island,4.0,Eateries
5,--Dl2rW_xO8GuYBomlg9zw,0.252113,4.166667,1,NaN,UNLV Student Health Center,4.5,Health & Beauty
6,--NCcmQqh_NZbjW1S5XsGQ,0.381162,4.400000,1,2,Sweet Lee's Rustic Bakery,4.5,Eateries
7,--UE_y6auTgq3FXlvUMkbw,0.086948,3.265625,40,1,Ritters Diner,3.5,Eateries
8,--XBxRlD92RaV6TyUnP8Ow,0.143038,2.833333,2,3,Sprint Store,3.0,Lifestyle & Entertainment
9,--Y_2lDOtVDioX5bwF6GIw,0.141736,2.508197,11,2,Buck & Badger,2.5,Eateries
10,--jFTZmywe7StuZ2hEjxyA,0.210263,3.500000,3,1,Subway,3.5,Eateries
11,--nQiUBxtpjd_ZBuO_PH6w,0.192851,4.200000,1,NaN,Daydream Daycare,4.5,Others
12,--pOlFxITWnhzc7SHSIP0A,0.154988,4.025126,28,2,Block & Grinder,4.0,Eateries
13,--qeSYxyn62mMjWvznNTdg,0.136723,3.571429,7,1,Panda Express,3.5,Eateries
14,--sSW-WY3vyASh_eVPGUAw,-0.374548,1.666667,3,NaN,Bank of America,1.5,Others
15,--ytaF8wLE4-RsW8Cqx9CQ,0.209539,5.000000,1,NaN,Southern Nevada Wellness,5.0,Health & Beauty
16,-024YEtnIsPQCrMSHCKLQw,-0.232947,3.000000,1,NaN,Presse Cafe,3.5,Eateries
17,-0Ackw6MF82PXO9f9Jh_Kg,0.130726,3.333333,34,NaN,Peepshow,3.5,Lifestyle & Entertainment
18,-0D_CYhlD2ILkmLR0pBmnA,0.196880,4.444444,2,2,Olive Gourmet,4.5,Eateries
19,-0GkcDiIgVm0XzDZC8RFOg,0.236808,3.709924,19,2,Crane Alley,3.5,Eateries

In [93]:
final = final.rename(columns={'avg_rating': 'stars'})

In [89]:
del final['stars_y']

In [99]:
final.head()

,business_id,average_sentiment,stars,tips_count,Price_Range,name,broad_categories
0,--0ZoBTQWQra1FxD4rBWmg,0.128681,2.000000,2,0,Bourquin Residential Group,Others
1,--1emggGHgoG6ipd_RMb-g,0.076549,3.333333,7,1,Sinclair,Eateries
2,--4Pe8BZ6gj57VFL5mUE8g,0.006331,2.750000,2,3,Office Max,Lifestyle & Entertainment
3,--5jkZ3-nUPZxUvtcbr8Uw,0.174313,4.580357,27,1,Mika's Greek,Eateries
4,--BlvDO_RG2yElKu9XA1_g,0.191762,3.796610,23,1,Asian Island,Eateries

In [98]:
final['Price_Range'].fillna(0,inplace=True)

In [100]:
final.to_csv('biz_tip_sentiment.csv')

In [101]:
final.to_json('biz_tip_sentiment.json')

In [103]:
final.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            57469, 57470, 57471, 57472, 57473, 57474, 57475, 57476, 57477,
            57478],
           dtype='int64', length=57479)